openapi: 3.0.3
info:
  title: webengage App
  version: 1.0.0
servers:
  - url: https://dashboard.webengage.com
tags:
  - name: api
  - name: collect
  - name: collected-forms
  - name: consent
  - name: j
  - name: v1
  - name: v2
  - name: "{id}"
paths:
  /{id}:
    get:
      tags:
        - "{id}"
      summary: GET /{id}
      operationId: get_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: attribution_trigger
        - name: pid
          in: query
          required: false
          schema:
            type: string
          example: "108844"
        - name: time
          in: query
          required: false
          schema:
            type: string
          example: "1768387607292"
        - name: url
          in: query
          required: false
          schema:
            type: string
          example: https://dashboard.webengage.com/user/account.html?action=viewLogin
      responses:
        "200":
          description: Success
  /consent/.json:
    get:
      tags:
        - consent
      summary: GET /consent/.json
      operationId: get_consent__json
      responses:
        "200":
          description: Success
  /v1/iplookups/autoCapture:
    post:
      tags:
        - v1
      summary: POST /v1/iplookups/autoCapture
      operationId: post_v1_iplookups_autoCapture
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/V1PostRequest"
            examples:
              fromHar:
                value:
                  pageId: Sign In | WebEngage
                  pageName: Sign In | WebEngage
                  pageUrl: https://dashboard.webengage.com/user/account.html
                  urlParameters: action=viewLogin
                  pixelVersion: v2.3
      responses:
        "200":
          description: Success
  /j/collect:
    post:
      tags:
        - j
      summary: POST /j/collect
      operationId: post_j_collect
      parameters:
        - name: v
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: _v
          in: query
          required: false
          schema:
            type: string
          example: j102
        - name: a
          in: query
          required: false
          schema:
            type: string
          example: "884610425"
        - name: t
          in: query
          required: false
          schema:
            type: string
          example: pageview
        - name: _s
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: dl
          in: query
          required: false
          schema:
            type: string
          example: https://dashboard.webengage.com/user/account.html?action=viewLogin
        - name: ul
          in: query
          required: false
          schema:
            type: string
          example: en-gb
        - name: dt
          in: query
          required: false
          schema:
            type: string
          example: Sign In | WebEngage
        - name: sr
          in: query
          required: false
          schema:
            type: string
          example: 1366x768
        - name: vp
          in: query
          required: false
          schema:
            type: string
          example: 1028x599
        - name: _u
          in: query
          required: false
          schema:
            type: string
          example: QACAAEABAAAAACAAI~
        - name: jid
          in: query
          required: false
          schema:
            type: string
          example: "303060916"
        - name: gjid
          in: query
          required: false
          schema:
            type: string
          example: "1658256520"
        - name: cid
          in: query
          required: false
          schema:
            type: string
          example: "1614989590.1768277183"
        - name: tid
          in: query
          required: false
          schema:
            type: string
          example: UA-28285682-1
        - name: _gid
          in: query
          required: false
          schema:
            type: string
          example: "847087266.1768379078"
        - name: _r
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: _slc
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: gtm
          in: query
          required: false
          schema:
            type: string
          example: 45He61c1n71PF79RCv6863294za200zd6863294
        - name: gcd
          in: query
          required: false
          schema:
            type: string
          example: 13l3l3l3l1l1
        - name: dma
          in: query
          required: false
          schema:
            type: string
          example: "0"
        - name: tag_exp
          in: query
          required: false
          schema:
            type: string
          example: 103116026~103200004~104527907~104528501~104684208~104684211~105391252~115616986~115938465~115938469~117041588
        - name: z
          in: query
          required: false
          schema:
            type: string
          example: "706123188"
        - name: dp
          in: query
          required: false
          schema:
            type: string
          example: https://dashboard.webengage.com/accounts/~9919797a/users/overview
      responses:
        "200":
          description: Response captured from HAR
          content:
            text/plain:
              schema:
                type: string
              examples:
                fromHar:
                  value: 2,x
  /collect:
    post:
      tags:
        - collect
      summary: POST /collect
      operationId: post_collect
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: string
            examples:
              fromHar:
                value: "\x1f\b\0\0\0\0\0\0

                  ­RMOÛ@\x10ý+«94Øûå]\eTU\x14U\x14\x01½\x04)\aËAk{ã¬âØil¶üöjÛs\x0fÕ^æó½73û\x03<\\æÀ£4Ò\x16P
                  Gh\x04³idu\x18\eµ\x06éðm

                  [@\x10ÛW£wâ½\x1elÆq?\\ÆqíMÙ»C\x1d\x1d}é»Æ5>ªú]<\rþ\x10»ªê§n6ã®ýèª1ôÝà\x0f}\x13:(\x10\x1c\\æ¹Á\
                  \x14\x05)Z+

                  ÌµD!Þ\x03IQ@¡LR\"Q¨4ÂóäÇP\x03æ ²ÚÙó5W\x10keÎ\x1a«J«\x13WZ\x12ËsÕV[*~g%WÜ¯øJJ®)ó|· 4\a\x04\
                  \x0eÅHFÍá±\rmëâ$âìl\x19ºº?\x0eìë\x13\x13<âWl\x19:£¯Øw£ÏÙõ~ßú¥/ïÃ\x18'ÊFÊ°³û/O\x0fÈÚ°õìÖWÛþÝl\x0e\
                  ýÎÇB«Óc\v·v0·@\x02óÿ³]ù\x0f@3Æ\x10¿eÈlf]\\m\\×ùv¾¼ØOÃ\x06

                  TÃ\"4\x1d»ëØO¶ôåç\x13\x04\x14a\x0e¾»¸ýDÊ\x13Ìaÿ\x12:Gk\x17æ\"!¤dÞ\x1d¹&\x12\x1a<Méj¿\x0e¯ßVôñ\
                  þú.$\tJa1\aÝb\x0eó\x01%
                  JEX×Cpñk«i\x1c\x1d\x05IÕRD¦f ùÄô5©J­á©àöttJ¢Fm0A\x06EJ\bB\x19CSZÒxR£L¨È
                  'i\x1c@AÝ\x1cBMzRâç32hÈÈÿHÐÔ&P\x14Å¯ßáõ,\x03\0\0"
      responses:
        "200":
          description: Success
  /collected-forms/v1/config/json:
    get:
      tags:
        - collected-forms
      summary: GET /collected-forms/v1/config/json
      operationId: get_collected_forms_v1_config_json
      parameters:
        - name: portalId
          in: query
          required: false
          schema:
            type: string
          example: "23429454"
        - name: utk
          in: query
          required: false
          schema:
            type: string
          example: a1aa7c9a56cb3393526417bfeaa82c1d
      responses:
        "200":
          description: Success
  /{id}/v2/config/{id2}/json:
    get:
      tags:
        - v2
      summary: GET /{id}/v2/config/{id2}/json
      operationId: get_id_v2_config_id2_json
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: hs-script-loader-public
        - name: id2
          in: path
          required: true
          schema:
            type: string
          example: pixels-and-events
        - name: portalId
          in: query
          required: false
          schema:
            type: string
          example: "23429454"
      responses:
        "200":
          description: Success
  /api/v1/user:
    get:
      tags:
        - api
      summary: GET /api/v1/user
      operationId: get_api_v1_user
      parameters:
        - name: licenseCode
          in: query
          required: false
          schema:
            type: string
          example: ~9919797a
      responses:
        "200":
          description: Response captured from HAR
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                fromHar:
                  value:
                    response:
                      data:
                        email: zubair1digital@gmail.com
                        userName: zubair1digital
                        userStatus: ACTIVE
                        firstName: zubair
                        creationDate: 2026-01-14T10:18:29.000Z
                        lastModifiedDate: 2026-01-14T04:48:56.000Z
                        duration: annual
                        permissions:
                          - VIEW_DASHBOARD
                          - EXPORT_LIST_OF_USERS
                          - CREATE_SEGMENT
                          - CAMPAIGN_MAKER
                          - CAMPAIGN_CHECKER
                          - UPDATE_INTEGRATIONS
                          - UPDATE_DATA_MANAGEMENT
                          - UPDATE_SETTINGS
                          - UPDATE_TEAM_MEMBERS_AND_ROLES
                          - VIEW_UPDATE_BILLING
                          - VIEW_USER_PROFILE
                          - VIEW_PII
                          - FEEDBACK_MANAGEMENT
                          - SERVICE_ACCOUNT_MANAGEMENT
                          - VIEW_ANALYTICS
                          - VIEW_CUSTOM_ENTITIES
                        countryCode: "1"
                        phone: "+11234567890"
                        movedToInternalRoles: false
                        admin: false
                      message: success
                      status: success
  /api/v1/accounts:
    get:
      tags:
        - api
      summary: GET /api/v1/accounts
      operationId: get_api_v1_accounts
      responses:
        "200":
          description: Response captured from HAR
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                fromHar:
                  value:
                    response:
                      data:
                        - name: abc solutions
                          licenseCode: ~9919797a
                          status: ACTIVE
                          creationDate: 2026-01-14T06:30:00.000Z
                          lastModifiedDate: 2026-01-14T05:24:45.000Z
                          planId: 3rlammo
                          planDuration: annual
                          planName: Solo
                          timezoneOffset: -39600
                          categories:
                            - name: Listing/Classifieds/Marketplace
                              description: Listing/Classifieds/Marketplace
                              categoryId: 1306ae46
                          statusText: This account is under Solo plan.
                          alias: abc alias1
                          isAffiliate: false
                          demo: false
                          endDate: 2026-01-27T06:30:00.000Z
                          startDate: 2026-01-14T06:30:00.000Z
                          underTrialPeriod: true
                          underCreditPeriod: false
                          encryptionMode: PLAIN_TEXT
                          isPublisherUser: true
                          language: en
                          sdkIntegrationStatus: {}
                          sdkAccessStatus:
                            JS: true
                            ANDROID: true
                            IOS: true
                          hideSegmentBuilderCount: false
                          timeZone: Etc/GMT+11
                          conversionsType: SEND
                          domain: abc solutions
                          piidecryptionAllowed: false
                          trialDaysLeft: 14
                          widget-config:
                            web:
                              feedback: false
                              notification: true
                              webPersonalization: false
                              appPersonalization: false
                              webPush: false
                              inAppNotification: true
                              survey: true
                          feature-access:
                            WE_RCS_CAMPAIGN: false
                            WE_CAMPAIGN_BOOSTER: false
                            WE_SEND_TIME_OPTIMISATION: false
                            WE_JOURNEY: 5
                            WE_FUNNEL_ANALYTICS_TO_STATIC_LIST: true
                            WE_LIVE_ANALYTICS: false
                            WE_PUSH_OVERLAY_TEMPLATE: false
                            WE_DATA_MAPPING: false
                            WE_WEBHOOKS: false
                            WE_ACTIVE_RELAYS: 5
                            WE_CAMPAIGN_AUDIT: false
                            WE_EMAIL_UNSUBSCRIBE_CUSTOMIZATION: false
                            CW_CONVERTWISE_PLUS_WEBENGAGE: false
                            WE_CCR_ENTITIES_MAX_FILE_SIZE_IN_MB: false
                            WE_MONTHLY_ENGAGED_USERS: false
                            WE_SEGMENT_LOOKBACK_PERIOD: 12
                            WE_MAGIC_BLOCK: false
                            WE_IMAGE_COPILOT: false
                            WE_SURVEY: false
                            WE_RELAY_ITEM_LEVEL_EXCLUSION: false
                            WE_JSON_DUMP: false
                            WE_NOTIFICATION_INBOX_MAX_TTL: false
                            WE_EMAIL_HEATMAP: false
                            WE_NOTIFICATION_LIMIT: false
                            WE_STATS_CARDS: false
                            WE_MAU: 10000
                            WE_ZERO_PII: false
                            WE_DERIVED_ATTRIBUTE: false
                            WE_NOTIFICATION_INBOX_PUSH: false
                            WE_AGGREGATED_CAMP_REPORT: false
                            WE_IN_APP_CUSTOM: false
                            WE_BEST_CHANNEL: false
                            WE_FB_EXPORT: true
                            WE_USER_EVENTS_BQ: false
                            WE_CSP2_CHANNELS_UI: false
                            WE_OBAC: false
                            WE_ASYNC_V4_GENERATION: true
                            WE_SEGMENTATION_2: false
                            WE_ENGAGEMENT_SCORE: false
                            WE_STATS_CARDS_CHANNELS: false
                            WE_CONTEXTUAL_JOURNEY: false
                            WE_RECOMMENDATION_FALLBACK: false
                            WE_MONTHLY_ENGAGED_CONTACT: false
                            WE_RECOMMENDATION: false
                            WE_CATALOG: false
                            WE_CSP2_UI: false
                            WE_EVENT: 30 custom events per user user month
                            WE_EVENT_ACTIVITIES_ALLOWED_DAYS_RANGE: false
                            WE_SEGMENT_STATS_WHITELIST_LIMITS: 50
                            WE_USER_PROFILE_VIEW_V3_ENABLED: false
                            WE_OPENAI_RECOMMENDATION: false
                            WE_CAMPAIGN_KEY_DRIVER: false
                            WE_CSP2: false
                            WE_CUSTOM_ALERTS: false
                            CW_WISE_CART: false
                            WE_RBAC: true
                            WE_USERLIST_TRIGGERS: 20
                            WEB_EVENT_CONVERSION: true
                            WE_USERLIST: true
                            WE_JOURNEY_PUBLISH: false
                            WE_STATS_CARDS_METRIC: false
                            WE_IP_WHITELISTING: false
                            WE_DASHBOARD_SWITCH: false
                            WE_SSO: false
                            WE_TOTAL_CONTACTS: false
                            WE_EVENT_ANALYTICS_TO_STATIC_LIST: true
                            WE_REVENUE_ORDER_UPLIFT: false
                            WE_RELAY: false
                            WE_COHORT_ANALYTICS_TO_STATIC_LIST: true
                            WE_ASYNC_APIS: false
                            WE_PREDICTIVE_SEGMENTS: false
                            WE_RELAY_TRIGGERS:
                              CATALOG_REFRESH: true
                            WE_SYSTEM_DASHBOARD_CREATION: false
                            WE_ACTIVE_JOURNEYS: 100
                            WE_SIGNIFICANT_FACTORS: false
                            WE_SMS_COUNTER: false
                            WE_CSV_DUMPS: false
                            WE_CONTENT_AGENT: false
                            WE_UI_REVAMP:
                              ONSITE: true
                              EVENTS: true
                              FUNNELS: true
                              EVENTS_MIGRATION: true
                              FUNNELS_MIGRATION: true
                              THEME: NEW_THEME_LIGHT
                            WE_DATA_RETENTION: 12
                            WE_CSP2_PAGES_UI: false
                            CW_MAX_ORDERS: false
                            WE_VIBER_CAMPAIGN: false
                            WE_LIVE_SEGMENTS_TRIGGERS: 20
                            WE_JOURNEY_AB_SPLIT: true
                            WE_RELAY_RUNS: "100"
                            WE_PATH: true
                            WE_ACCOUNT_MANAGER: false
                            WE_USER_PLUS_EVENTS: false
                            WE_INTEGRATED_EMAIL: false
                            WE_EVENT_ATTRIBUTES:
                              BOOLEAN: 25
                              STRING: 25
                              DATE: 25
                              NUMBER: 25
                            WE_AI_SUGGESTIONS: false
                            WE_DATA_OUTLET_INTERNAL_CONNECTION: false
                            WE_USER_ATTRIBUTES:
                              BOOLEAN: 25
                              STRING: 25
                              DATE: 25
                              NUMBER: 25
                            WE_IN_APP_NOTIFICATION: true
                            WE_FEEDBACK_TAB: false
                            WE_PUSH_IMPRESSION: false
                            WE_V4_JS_RULE_GENERATION: false
                            WE_CUSTOM_ENTITY: false
                            WE_FUNNEL_SIGNIFICANT_FACTOR: false
                            WE_JOURNEY_FLEET: false
                            WE_RFM: true
                            WE_CUSTOM_DASHBOARD: 10
                            WE_LIVE_SEGMENTS: 1000
                            WE_CAMPAIGN_AUDIT_TTL: false
                            WEB_PERSONALIZATION: false
                            WE_JOURNEY_CREATE: false
                            WE_STATS_CARDS_PAGES: false
                            WE_GOOGLE_ADS_EXPORT: true
                            WE_SMS_SUGGESTION: false
                            WE_PUSH_TIMER_TEMPLATE: false
                            APP_PERSONALIZATION: false
                            WE_EMAIL_FLEET: false
                            WE_SEGMENT_COPILOT: false
                            WE_UCG: false
                            WE_EVENT_PERSONALIZATION: 10
                            WE_DATA_OUTLET: false
                            WE_BIG_QUERY: false
                            WE_ADVANCE_ANALYTICS: false
                            WE_WHATSAPP_CAMPAIGN: true
                            WE_TIKTOK_EXPORT: false
                            WE_JOURNEY_VIEW_STATS: false
                            WE_COLLECTIONS: false
                            WE_JOURNEY_LIVE_EDIT: false
                            WE_DATA_OUTLET_ONE_TIME_EXPORT: false
                            WE_V2_EVENT_ANALYTICS: false
                            WE_BQ_SQL_OPTIMIZATION: false
                          retention-metadata:
                            WE_SEGMENT_LOOKBACK_PERIOD: 12
                            WE_DATA_RETENTION: 12
                            WE_RELAY_RUNS: "100"
                            WE_EVENT_ACTIVITIES_ALLOWED_DAYS_RANGE: false
                      message: success
                      status: success
  /api/v1/demo-accounts:
    get:
      tags:
        - api
      summary: GET /api/v1/demo-accounts
      operationId: get_api_v1_demo_accounts
      responses:
        "200":
          description: Response captured from HAR
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                fromHar:
                  value:
                    response:
                      data:
                        - name: Financial Services
                          currencyCode: INR
                          currencyName: Indian Rupee
                          licenseCode: ~7167dbc0
                          status: ACTIVE
                          creationDate: 2018-02-28T06:30:00.000Z
                          lastModifiedDate: 2022-10-02T13:03:42.000Z
                          planId: 3rlammo
                          planDuration: annual
                          planName: Solo
                          timezoneOffset: 19800
                          categories: []
                          statusText: This account is under Solo plan.
                          alias: Financial Services
                          isAffiliate: false
                          demo: true
                          startDate: 2018-02-27T18:30:00.000Z
                          underTrialPeriod: false
                          underCreditPeriod: false
                          encryptionMode: PLAIN_TEXT
                          isPublisherUser: false
                          language: en
                          sdkIntegrationStatus:
                            JS: true
                            ANDROID: true
                          sdkAccessStatus:
                            JS: true
                            ANDROID: true
                            IOS: true
                          hideSegmentBuilderCount: false
                          timeZone: Asia/Kolkata
                          conversionsType: SEND
                          domain: Financial Services
                          piidecryptionAllowed: false
                          trialDaysLeft: 0
                          widget-config:
                            web:
                              feedback: true
                              notification: true
                              webPersonalization: true
                              appPersonalization: true
                              webPush: false
                              inAppNotification: true
                              survey: true
                          feature-access:
                            WE_RCS_CAMPAIGN: true
                            WE_CAMPAIGN_BOOSTER: false
                            WE_SEND_TIME_OPTIMISATION: true
                            WE_JOURNEY: 5
                            WE_FUNNEL_ANALYTICS_TO_STATIC_LIST: true
                            WE_LIVE_ANALYTICS: false
                            WE_PUSH_OVERLAY_TEMPLATE: true
                            WE_DATA_MAPPING: false
                            WE_WEBHOOKS: true
                            WE_ACTIVE_RELAYS: 5
                            WE_CAMPAIGN_AUDIT: false
                            WE_EMAIL_UNSUBSCRIBE_CUSTOMIZATION: false
                            CW_CONVERTWISE_PLUS_WEBENGAGE: false
                            WE_CCR_ENTITIES_MAX_FILE_SIZE_IN_MB: false
                            WE_MONTHLY_ENGAGED_USERS: true
                            WE_SEGMENT_LOOKBACK_PERIOD: 12
                            WE_MAGIC_BLOCK: true
                            WE_IMAGE_COPILOT: true
                            WE_SURVEY: true
                            WE_RELAY_ITEM_LEVEL_EXCLUSION: false
                            WE_JSON_DUMP: false
                            WE_NOTIFICATION_INBOX_MAX_TTL: true
                            WE_EMAIL_HEATMAP: true
                            WE_NOTIFICATION_LIMIT: false
                            WE_STATS_CARDS: false
                            WE_MAU: 10000
                            WE_ZERO_PII: false
                            WE_DERIVED_ATTRIBUTE: true
                            WE_NOTIFICATION_INBOX_PUSH: true
                            WE_AGGREGATED_CAMP_REPORT: false
                            WE_IN_APP_CUSTOM: true
                            WE_BEST_CHANNEL: true
                            WE_FB_EXPORT: true
                            WE_USER_EVENTS_BQ: true
                            WE_CSP2_CHANNELS_UI: true
                            WE_OBAC:
                              hideDefaultView: false
                            WE_ASYNC_V4_GENERATION: true
                            WE_SEGMENTATION_2: true
                            WE_ENGAGEMENT_SCORE: true
                            WE_STATS_CARDS_CHANNELS: false
                            WE_CONTEXTUAL_JOURNEY: false
                            WE_RECOMMENDATION_FALLBACK: false
                            WE_MONTHLY_ENGAGED_CONTACT: true
                            WE_RECOMMENDATION: true
                            WE_CATALOG: true
                            WE_CSP2_UI: false
                            WE_EVENT: 30 custom events per user user month
                            WE_EVENT_ACTIVITIES_ALLOWED_DAYS_RANGE: false
                            WE_SEGMENT_STATS_WHITELIST_LIMITS: 50
                            WE_USER_PROFILE_VIEW_V3_ENABLED: false
                            WE_OPENAI_RECOMMENDATION: true
                            WE_CAMPAIGN_KEY_DRIVER: true
                            WE_CSP2: false
                            WE_CUSTOM_ALERTS: true
                            CW_WISE_CART: false
                            WE_RBAC: true
                            WE_USERLIST_TRIGGERS: 20
                            WEB_EVENT_CONVERSION: true
                            WE_USERLIST: true
                            WE_JOURNEY_PUBLISH: false
                            WE_STATS_CARDS_METRIC: false
                            WE_IP_WHITELISTING: false
                            WE_DASHBOARD_SWITCH: false
                            WE_SSO: true
                            WE_TOTAL_CONTACTS: true
                            WE_EVENT_ANALYTICS_TO_STATIC_LIST: true
                            WE_REVENUE_ORDER_UPLIFT: false
                            WE_RELAY: true
                            WE_COHORT_ANALYTICS_TO_STATIC_LIST: true
                            WE_ASYNC_APIS: false
                            WE_PREDICTIVE_SEGMENTS: true
                            WE_RELAY_TRIGGERS: false
                            WE_SYSTEM_DASHBOARD_CREATION: false
                            WE_ACTIVE_JOURNEYS: 100
                            WE_SIGNIFICANT_FACTORS: true
                            WE_SMS_COUNTER: true
                            WE_CSV_DUMPS: false
                            WE_CONTENT_AGENT: false
                            WE_UI_REVAMP:
                              ONSITE: true
                              EVENTS: true
                              FUNNELS: true
                              EVENTS_MIGRATION: true
                              SEGMENTATION: true
                              THEME: NEW_THEME_LIGHT
                              RECOMMENDATIONS: true
                              FUNNELS_MIGRATION: true
                            WE_DATA_RETENTION: 12
                            WE_CSP2_PAGES_UI: true
                            CW_MAX_ORDERS: false
                            WE_VIBER_CAMPAIGN: false
                            WE_LIVE_SEGMENTS_TRIGGERS: 20
                            WE_JOURNEY_AB_SPLIT: true
                            WE_RELAY_RUNS: "100"
                            WE_PATH: true
                            WE_ACCOUNT_MANAGER: true
                            WE_USER_PLUS_EVENTS: true
                            WE_INTEGRATED_EMAIL: false
                            WE_EVENT_ATTRIBUTES:
                              BOOLEAN: 25
                              STRING: 25
                              DATE: 25
                              NUMBER: 25
                            WE_AI_SUGGESTIONS: true
                            WE_DATA_OUTLET_INTERNAL_CONNECTION: false
                            WE_USER_ATTRIBUTES:
                              BOOLEAN: 25
                              STRING: 25
                              DATE: 25
                              NUMBER: 25
                            WE_IN_APP_NOTIFICATION: true
                            WE_FEEDBACK_TAB: false
                            WE_PUSH_IMPRESSION: false
                            WE_V4_JS_RULE_GENERATION: false
                            WE_CUSTOM_ENTITY: true
                            WE_FUNNEL_SIGNIFICANT_FACTOR: true
                            WE_JOURNEY_FLEET: false
                            WE_RFM: true
                            WE_CUSTOM_DASHBOARD: 10
                            WE_LIVE_SEGMENTS: 1000
                            WE_CAMPAIGN_AUDIT_TTL: false
                            WEB_PERSONALIZATION: true
                            WE_JOURNEY_CREATE: false
                            WE_STATS_CARDS_PAGES: false
                            WE_GOOGLE_ADS_EXPORT: true
                            WE_SMS_SUGGESTION: false
                            WE_PUSH_TIMER_TEMPLATE: true
                            APP_PERSONALIZATION: true
                            WE_EMAIL_FLEET: false
                            WE_SEGMENT_COPILOT: true
                            WE_UCG: true
                            WE_EVENT_PERSONALIZATION: 30
                            WE_DATA_OUTLET: true
                            WE_BIG_QUERY: false
                            WE_ADVANCE_ANALYTICS: true
                            WE_WHATSAPP_CAMPAIGN: true
                            WE_TIKTOK_EXPORT: true
                            WE_JOURNEY_VIEW_STATS: false
                            WE_COLLECTIONS: true
                            WE_JOURNEY_LIVE_EDIT: true
                            WE_DATA_OUTLET_ONE_TIME_EXPORT: true
                            WE_V2_EVENT_ANALYTICS: false
                            WE_BQ_SQL_OPTIMIZATION: false
                          retention-metadata:
                            WE_SEGMENT_LOOKBACK_PERIOD: 12
                            WE_DATA_RETENTION: 12
                            WE_RELAY_RUNS: "100"
                            WE_EVENT_ACTIVITIES_ALLOWED_DAYS_RANGE: false
                        - name: E-commerce
                          currencyCode: INR
                          currencyName: Indian Rupee
                          licenseCode: aa1326d6
                          status: ACTIVE
                          creationDate: 2017-12-22T22:58:46.000Z
                          lastModifiedDate: 2025-06-26T05:47:17.000Z
                          planId: 3rlammp
                          planDuration: annual
                          planName: Personal
                          timezoneOffset: 19800
                          categories:
                            - name: E-Commerce
                              description: E-Commerce
                              categoryId: 16h72e8e
                          statusText: This account is under Personal plan.
                          alias: Manohar
                          isAffiliate: false
                          demo: true
                          startDate: 2017-12-22T22:58:46.000Z
                          underTrialPeriod: false
                          underCreditPeriod: false
                          encryptionMode: PLAIN_TEXT
                          isPublisherUser: false
                          language: en
                          sdkIntegrationStatus:
                            JS: true
                            ANDROID: true
                            IOS: true
                          sdkAccessStatus:
                            JS: true
                            ANDROID: true
                            IOS: true
                          hideSegmentBuilderCount: false
                          timeZone: Asia/Kolkata
                          conversionsType: VIEW
                          domain: E-commerce
                          piidecryptionAllowed: false
                          trialDaysLeft: 0
                          widget-config:
                            web:
                              feedback: true
                              notification: true
                              webPersonalization: true
                              appPersonalization: true
                              webPush: true
                              inAppNotification: true
                              survey: false
                          feature-access:
                            WE_RCS_CAMPAIGN: true
                            WE_CAMPAIGN_BOOSTER: false
                            WE_SEND_TIME_OPTIMISATION: true
                            WE_JOURNEY: true
                            WE_FUNNEL_ANALYTICS_TO_STATIC_LIST: true
                            WE_LIVE_ANALYTICS: true
                            WE_PUSH_OVERLAY_TEMPLATE: true
                            WE_DATA_MAPPING: false
                            WE_WEBHOOKS: true
                            WE_ACTIVE_RELAYS: 5
                            WE_CAMPAIGN_AUDIT: false
                            WE_EMAIL_UNSUBSCRIBE_CUSTOMIZATION: false
                            CW_CONVERTWISE_PLUS_WEBENGAGE: false
                            WE_CCR_ENTITIES_MAX_FILE_SIZE_IN_MB: false
                            WE_MONTHLY_ENGAGED_USERS: true
                            WE_SEGMENT_LOOKBACK_PERIOD: 12
                            WE_MAGIC_BLOCK: true
                            WE_IMAGE_COPILOT: true
                            WE_SURVEY: true
                            WE_RELAY_ITEM_LEVEL_EXCLUSION: false
                            WE_JSON_DUMP: false
                            WE_NOTIFICATION_INBOX_MAX_TTL: true
                            WE_EMAIL_HEATMAP: true
                            WE_NOTIFICATION_LIMIT: false
                            WE_STATS_CARDS: false
                            WE_MAU: 10000
                            WE_ZERO_PII: false
                            WE_DERIVED_ATTRIBUTE: true
                            WE_NOTIFICATION_INBOX_PUSH: true
                            WE_AGGREGATED_CAMP_REPORT: false
                            WE_IN_APP_CUSTOM: true
                            WE_BEST_CHANNEL: true
                            WE_FB_EXPORT: true
                            WE_USER_EVENTS_BQ: true
                            WE_CSP2_CHANNELS_UI: false
                            WE_OBAC: false
                            WE_ASYNC_V4_GENERATION: true
                            WE_SEGMENTATION_2: false
                            WE_ENGAGEMENT_SCORE: 5
                            WE_STATS_CARDS_CHANNELS: false
                            WE_CONTEXTUAL_JOURNEY: true
                            WE_RECOMMENDATION_FALLBACK: false
                            WE_MONTHLY_ENGAGED_CONTACT: true
                            WE_RECOMMENDATION: 16
                            WE_CATALOG:
                              CATALOG_COUNT: 20
                              CATALOG_COLUMN_COUNT: 50
                            WE_CSP2_UI: false
                            WE_EVENT: 100000
                            WE_EVENT_ACTIVITIES_ALLOWED_DAYS_RANGE: false
                            WE_SEGMENT_STATS_WHITELIST_LIMITS: 50
                            WE_USER_PROFILE_VIEW_V3_ENABLED: false
                            WE_OPENAI_RECOMMENDATION: true
                            WE_CAMPAIGN_KEY_DRIVER: true
                            WE_CSP2: false
                            WE_CUSTOM_ALERTS: true
                            CW_WISE_CART: false
                            WE_RBAC: true
                            WE_USERLIST_TRIGGERS: 20
                            WEB_EVENT_CONVERSION: true
                            WE_USERLIST: true
                            WE_JOURNEY_PUBLISH: false
                            WE_STATS_CARDS_METRIC: false
                            WE_IP_WHITELISTING: true
                            WE_DASHBOARD_SWITCH: false
                            WE_SSO: false
                            WE_TOTAL_CONTACTS: true
                            WE_EVENT_ANALYTICS_TO_STATIC_LIST: true
                            WE_REVENUE_ORDER_UPLIFT: true
                            WE_RELAY: true
                            WE_COHORT_ANALYTICS_TO_STATIC_LIST: true
                            WE_ASYNC_APIS: false
                            WE_PREDICTIVE_SEGMENTS: 5
                            WE_RELAY_TRIGGERS:
                              CATALOG_REFRESH: true
                            WE_SYSTEM_DASHBOARD_CREATION: false
                            WE_ACTIVE_JOURNEYS: 100
                            WE_SIGNIFICANT_FACTORS: false
                            WE_SMS_COUNTER: false
                            WE_CSV_DUMPS: false
                            WE_CONTENT_AGENT: false
                            WE_UI_REVAMP:
                              ONSITE: true
                              RECOMMENDATIONS: true
                              EVENTS: true
                              FUNNELS: true
                              EVENTS_MIGRATION: true
                              SEGMENTATION: true
                              THEME: NEW_THEME_LIGHT
                              FUNNELS_MIGRATION: true
                            WE_DATA_RETENTION: 12
                            WE_CSP2_PAGES_UI: false
                            CW_MAX_ORDERS: false
                            WE_VIBER_CAMPAIGN: true
                            WE_LIVE_SEGMENTS_TRIGGERS: 20
                            WE_JOURNEY_AB_SPLIT: true
                            WE_RELAY_RUNS: "100"
                            WE_PATH: true
                            WE_ACCOUNT_MANAGER: true
                            WE_USER_PLUS_EVENTS: true
                            WE_INTEGRATED_EMAIL: false
                            WE_EVENT_ATTRIBUTES:
                              BOOLEAN: 25
                              STRING: 25
                              DATE: 25
                              NUMBER: 25
                            WE_AI_SUGGESTIONS: true
                            WE_DATA_OUTLET_INTERNAL_CONNECTION: true
                            WE_USER_ATTRIBUTES:
                              BOOLEAN: 25
                              STRING: 25
                              DATE: 25
                              NUMBER: 25
                            WE_IN_APP_NOTIFICATION: true
                            WE_FEEDBACK_TAB: true
                            WE_PUSH_IMPRESSION: false
                            WE_V4_JS_RULE_GENERATION: false
                            WE_CUSTOM_ENTITY: true
                            WE_FUNNEL_SIGNIFICANT_FACTOR: true
                            WE_JOURNEY_FLEET: false
                            WE_RFM: true
                            WE_CUSTOM_DASHBOARD: 24
                            WE_LIVE_SEGMENTS: 1000
                            WE_CAMPAIGN_AUDIT_TTL: false
                            WEB_PERSONALIZATION: true
                            WE_JOURNEY_CREATE: false
                            WE_STATS_CARDS_PAGES: false
                            WE_GOOGLE_ADS_EXPORT: true
                            WE_SMS_SUGGESTION: true
                            WE_PUSH_TIMER_TEMPLATE: true
                            APP_PERSONALIZATION: true
                            WE_EMAIL_FLEET: false
                            WE_SEGMENT_COPILOT: true
                            WE_UCG: true
                            WE_EVENT_PERSONALIZATION: 100
                            WE_DATA_OUTLET: true
                            WE_BIG_QUERY: false
                            WE_ADVANCE_ANALYTICS: true
                            WE_WHATSAPP_CAMPAIGN: true
                            WE_TIKTOK_EXPORT: true
                            WE_JOURNEY_VIEW_STATS: false
                            WE_COLLECTIONS: true
                            WE_JOURNEY_LIVE_EDIT: true
                            WE_DATA_OUTLET_ONE_TIME_EXPORT: false
                            WE_V2_EVENT_ANALYTICS: true
                            WE_BQ_SQL_OPTIMIZATION: false
                          retention-metadata:
                            WE_SEGMENT_LOOKBACK_PERIOD: 12
                            WE_DATA_RETENTION: 12
                            WE_RELAY_RUNS: "100"
                            WE_EVENT_ACTIVITIES_ALLOWED_DAYS_RANGE: false
                        - name: Hospitality
                          licenseCode: 76aad3b
                          status: ACTIVE
                          creationDate: 2016-09-26T04:52:13.000Z
                          lastModifiedDate: 2016-10-17T04:48:12.000Z
                          planId: 3rlammp
                          planDuration: annual
                          planName: Personal
                          timezoneOffset: 19800
                          categories:
                            - name: Travel/Hotel
                              description: Travel/Hotel
                              categoryId: h160dhg
                          statusText: This account is under Personal plan.
                          alias: Hospitality
                          isAffiliate: false
                          demo: true
                          startDate: 2016-09-26T10:22:13.000Z
                          underTrialPeriod: false
                          underCreditPeriod: false
                          encryptionMode: PLAIN_TEXT
                          isPublisherUser: false
                          language: en
                          sdkIntegrationStatus:
                            JS: false
                            ANDROID: false
                          sdkAccessStatus:
                            JS: true
                            ANDROID: true
                            IOS: true
                          hideSegmentBuilderCount: false
                          timeZone: Asia/Kolkata
                          conversionsType: SEND
                          domain: Hospitality
                          piidecryptionAllowed: false
                          trialDaysLeft: 0
                          widget-config:
                            web:
                              feedback: true
                              notification: true
                              webPersonalization: true
                              appPersonalization: false
                              webPush: false
                              inAppNotification: true
                              survey: true
                          feature-access:
                            WE_RCS_CAMPAIGN: false
                            WE_CAMPAIGN_BOOSTER: false
                            WE_SEND_TIME_OPTIMISATION: false
                            WE_JOURNEY: true
                            WE_FUNNEL_ANALYTICS_TO_STATIC_LIST: true
                            WE_LIVE_ANALYTICS: false
                            WE_PUSH_OVERLAY_TEMPLATE: false
                            WE_DATA_MAPPING: false
                            WE_WEBHOOKS: true
                            WE_ACTIVE_RELAYS: 5
                            WE_CAMPAIGN_AUDIT: false
                            WE_EMAIL_UNSUBSCRIBE_CUSTOMIZATION: false
                            CW_CONVERTWISE_PLUS_WEBENGAGE: false
                            WE_CCR_ENTITIES_MAX_FILE_SIZE_IN_MB: false
                            WE_MONTHLY_ENGAGED_USERS: true
                            WE_SEGMENT_LOOKBACK_PERIOD: 12
                            WE_MAGIC_BLOCK: false
                            WE_IMAGE_COPILOT: false
                            WE_SURVEY: true
                            WE_RELAY_ITEM_LEVEL_EXCLUSION: false
                            WE_JSON_DUMP: false
                            WE_NOTIFICATION_INBOX_MAX_TTL: false
                            WE_EMAIL_HEATMAP: false
                            WE_NOTIFICATION_LIMIT: false
                            WE_STATS_CARDS: false
                            WE_MAU: 10000
                            WE_ZERO_PII: false
                            WE_DERIVED_ATTRIBUTE: false
                            WE_NOTIFICATION_INBOX_PUSH: false
                            WE_AGGREGATED_CAMP_REPORT: false
                            WE_IN_APP_CUSTOM: false
                            WE_BEST_CHANNEL: false
                            WE_FB_EXPORT: true
                            WE_USER_EVENTS_BQ: false
                            WE_CSP2_CHANNELS_UI: false
                            WE_OBAC: false
                            WE_ASYNC_V4_GENERATION: true
                            WE_SEGMENTATION_2: false
                            WE_ENGAGEMENT_SCORE: false
                            WE_STATS_CARDS_CHANNELS: false
                            WE_CONTEXTUAL_JOURNEY: false
                            WE_RECOMMENDATION_FALLBACK: false
                            WE_MONTHLY_ENGAGED_CONTACT: true
                            WE_RECOMMENDATION: false
                            WE_CATALOG: false
                            WE_CSP2_UI: false
                            WE_EVENT: 100000
                            WE_EVENT_ACTIVITIES_ALLOWED_DAYS_RANGE: false
                            WE_SEGMENT_STATS_WHITELIST_LIMITS: 50
                            WE_USER_PROFILE_VIEW_V3_ENABLED: false
                            WE_OPENAI_RECOMMENDATION: false
                            WE_CAMPAIGN_KEY_DRIVER: false
                            WE_CSP2: false
                            WE_CUSTOM_ALERTS: false
                            CW_WISE_CART: false
                            WE_RBAC: true
                            WE_USERLIST_TRIGGERS: 20
                            WEB_EVENT_CONVERSION: true
                            WE_USERLIST: true
                            WE_JOURNEY_PUBLISH: false
                            WE_STATS_CARDS_METRIC: false
                            WE_IP_WHITELISTING: false
                            WE_DASHBOARD_SWITCH: false
                            WE_SSO: false
                            WE_TOTAL_CONTACTS: true
                            WE_EVENT_ANALYTICS_TO_STATIC_LIST: true
                            WE_REVENUE_ORDER_UPLIFT: false
                            WE_RELAY: false
                            WE_COHORT_ANALYTICS_TO_STATIC_LIST: true
                            WE_ASYNC_APIS: false
                            WE_PREDICTIVE_SEGMENTS: false
                            WE_RELAY_TRIGGERS: false
                            WE_SYSTEM_DASHBOARD_CREATION: false
                            WE_ACTIVE_JOURNEYS: 100
                            WE_SIGNIFICANT_FACTORS: true
                            WE_SMS_COUNTER: false
                            WE_CSV_DUMPS: false
                            WE_CONTENT_AGENT: false
                            WE_UI_REVAMP:
                              ONSITE: true
                              EVENTS: true
                              FUNNELS: true
                              EVENTS_MIGRATION: true
                              SEGMENTATION: true
                              THEME: NEW_THEME_LIGHT
                              RECOMMENDATIONS: true
                              FUNNELS_MIGRATION: true
                            WE_DATA_RETENTION: 12
                            WE_CSP2_PAGES_UI: false
                            CW_MAX_ORDERS: false
                            WE_VIBER_CAMPAIGN: false
                            WE_LIVE_SEGMENTS_TRIGGERS: 20
                            WE_JOURNEY_AB_SPLIT: true
                            WE_RELAY_RUNS: "100"
                            WE_PATH: true
                            WE_ACCOUNT_MANAGER: true
                            WE_USER_PLUS_EVENTS: false
                            WE_INTEGRATED_EMAIL: false
                            WE_EVENT_ATTRIBUTES:
                              BOOLEAN: 25
                              STRING: 25
                              DATE: 25
                              NUMBER: 25
                            WE_AI_SUGGESTIONS: false
                            WE_DATA_OUTLET_INTERNAL_CONNECTION: false
                            WE_USER_ATTRIBUTES:
                              BOOLEAN: 25
                              STRING: 25
                              DATE: 25
                              NUMBER: 25
                            WE_IN_APP_NOTIFICATION: true
                            WE_FEEDBACK_TAB: true
                            WE_PUSH_IMPRESSION: false
                            WE_V4_JS_RULE_GENERATION: false
                            WE_CUSTOM_ENTITY: false
                            WE_FUNNEL_SIGNIFICANT_FACTOR: false
                            WE_JOURNEY_FLEET: false
                            WE_RFM: true
                            WE_CUSTOM_DASHBOARD: 10
                            WE_LIVE_SEGMENTS: 1000
                            WE_CAMPAIGN_AUDIT_TTL: false
                            WEB_PERSONALIZATION: true
                            WE_JOURNEY_CREATE: false
                            WE_STATS_CARDS_PAGES: false
                            WE_GOOGLE_ADS_EXPORT: true
                            WE_SMS_SUGGESTION: false
                            WE_PUSH_TIMER_TEMPLATE: false
                            APP_PERSONALIZATION: false
                            WE_EMAIL_FLEET: false
                            WE_SEGMENT_COPILOT: false
                            WE_UCG: false
                            WE_EVENT_PERSONALIZATION: 10
                            WE_DATA_OUTLET: false
                            WE_BIG_QUERY: false
                            WE_ADVANCE_ANALYTICS: false
                            WE_WHATSAPP_CAMPAIGN: true
                            WE_TIKTOK_EXPORT: false
                            WE_JOURNEY_VIEW_STATS: false
                            WE_COLLECTIONS: false
                            WE_JOURNEY_LIVE_EDIT: false
                            WE_DATA_OUTLET_ONE_TIME_EXPORT: false
                            WE_V2_EVENT_ANALYTICS: false
                            WE_BQ_SQL_OPTIMIZATION: false
                          retention-metadata:
                            WE_SEGMENT_LOOKBACK_PERIOD: 12
                            WE_DATA_RETENTION: 12
                            WE_RELAY_RUNS: "100"
                            WE_EVENT_ACTIVITIES_ALLOWED_DAYS_RANGE: false
                        - name: Gaming
                          licenseCode: "82618044"
                          status: ACTIVE
                          creationDate: 2016-04-23T17:51:21.000Z
                          lastModifiedDate: 2016-05-19T05:25:14.000Z
                          planId: ~d0bedi
                          planDuration: annual
                          planName: Enterprise Elite
                          timezoneOffset: 19800
                          categories:
                            - name: Media and Entertainment
                              description: Media and Entertainment Site
                              categoryId: 153ed02
                          statusText: This account is under Enterprise Elite plan.
                          alias: GameAppDemo
                          isAffiliate: false
                          demo: true
                          startDate: 2016-05-18T18:30:00.000Z
                          underTrialPeriod: false
                          underCreditPeriod: false
                          encryptionMode: PLAIN_TEXT
                          isPublisherUser: false
                          language: en
                          sdkIntegrationStatus:
                            JS: false
                            ANDROID: false
                          sdkAccessStatus:
                            JS: true
                            ANDROID: true
                            IOS: true
                          hideSegmentBuilderCount: false
                          timeZone: Asia/Kolkata
                          conversionsType: SEND
                          domain: Gaming
                          piidecryptionAllowed: false
                          trialDaysLeft: 0
                          widget-config:
                            web:
                              feedback: true
                              notification: true
                              webPersonalization: false
                              appPersonalization: false
                              webPush: true
                              inAppNotification: true
                              survey: true
                          feature-access:
                            WE_RCS_CAMPAIGN: false
                            WE_CAMPAIGN_BOOSTER: false
                            WE_SEND_TIME_OPTIMISATION: false
                            WE_JOURNEY: true
                            WE_FUNNEL_ANALYTICS_TO_STATIC_LIST: true
                            WE_LIVE_ANALYTICS: false
                            WE_PUSH_OVERLAY_TEMPLATE: false
                            WE_DATA_MAPPING: false
                            WE_WEBHOOKS: true
                            WE_ACTIVE_RELAYS: 5
                            WE_CAMPAIGN_AUDIT: false
                            WE_EMAIL_UNSUBSCRIBE_CUSTOMIZATION: false
                            CW_CONVERTWISE_PLUS_WEBENGAGE: false
                            WE_CCR_ENTITIES_MAX_FILE_SIZE_IN_MB: false
                            WE_MONTHLY_ENGAGED_USERS: true
                            WE_SEGMENT_LOOKBACK_PERIOD: 12
                            WE_MAGIC_BLOCK: false
                            WE_IMAGE_COPILOT: false
                            WE_SURVEY: true
                            WE_RELAY_ITEM_LEVEL_EXCLUSION: false
                            WE_JSON_DUMP: false
                            WE_NOTIFICATION_INBOX_MAX_TTL: false
                            WE_EMAIL_HEATMAP: false
                            WE_NOTIFICATION_LIMIT: false
                            WE_STATS_CARDS: false
                            WE_MAU: true
                            WE_ZERO_PII: false
                            WE_DERIVED_ATTRIBUTE: false
                            WE_NOTIFICATION_INBOX_PUSH: false
                            WE_AGGREGATED_CAMP_REPORT: false
                            WE_IN_APP_CUSTOM: false
                            WE_BEST_CHANNEL: false
                            WE_FB_EXPORT: true
                            WE_USER_EVENTS_BQ: false
                            WE_CSP2_CHANNELS_UI: false
                            WE_OBAC: false
                            WE_ASYNC_V4_GENERATION: true
                            WE_SEGMENTATION_2: false
                            WE_ENGAGEMENT_SCORE: false
                            WE_STATS_CARDS_CHANNELS: false
                            WE_CONTEXTUAL_JOURNEY: false
                            WE_RECOMMENDATION_FALLBACK: false
                            WE_MONTHLY_ENGAGED_CONTACT: true
                            WE_RECOMMENDATION: false
                            WE_CATALOG: false
                            WE_CSP2_UI: false
                            WE_EVENT: true
                            WE_EVENT_ACTIVITIES_ALLOWED_DAYS_RANGE: false
                            WE_SEGMENT_STATS_WHITELIST_LIMITS: 50
                            WE_USER_PROFILE_VIEW_V3_ENABLED: false
                            WE_OPENAI_RECOMMENDATION: false
                            WE_CAMPAIGN_KEY_DRIVER: false
                            WE_CSP2: false
                            WE_CUSTOM_ALERTS: false
                            CW_WISE_CART: false
                            WE_RBAC: true
                            WE_USERLIST_TRIGGERS: 20
                            WEB_EVENT_CONVERSION: true
                            WE_USERLIST: true
                            WE_JOURNEY_PUBLISH: false
                            WE_STATS_CARDS_METRIC: false
                            WE_IP_WHITELISTING: false
                            WE_DASHBOARD_SWITCH: false
                            WE_SSO: false
                            WE_TOTAL_CONTACTS: true
                            WE_EVENT_ANALYTICS_TO_STATIC_LIST: true
                            WE_REVENUE_ORDER_UPLIFT: false
                            WE_RELAY: false
                            WE_COHORT_ANALYTICS_TO_STATIC_LIST: true
                            WE_ASYNC_APIS: false
                            WE_PREDICTIVE_SEGMENTS: false
                            WE_RELAY_TRIGGERS: false
                            WE_SYSTEM_DASHBOARD_CREATION: false
                            WE_ACTIVE_JOURNEYS: 100
                            WE_SIGNIFICANT_FACTORS: true
                            WE_SMS_COUNTER: false
                            WE_CSV_DUMPS: false
                            WE_CONTENT_AGENT: false
                            WE_UI_REVAMP:
                              ONSITE: true
                              EVENTS: true
                              FUNNELS: true
                              EVENTS_MIGRATION: true
                              SEGMENTATION: true
                              THEME: NEW_THEME_LIGHT
                              RECOMMENDATIONS: true
                              FUNNELS_MIGRATION: true
                            WE_DATA_RETENTION: 12
                            WE_CSP2_PAGES_UI: false
                            CW_MAX_ORDERS: false
                            WE_VIBER_CAMPAIGN: false
                            WE_LIVE_SEGMENTS_TRIGGERS: 20
                            WE_JOURNEY_AB_SPLIT: true
                            WE_RELAY_RUNS: "100"
                            WE_PATH: true
                            WE_ACCOUNT_MANAGER: true
                            WE_USER_PLUS_EVENTS: false
                            WE_INTEGRATED_EMAIL: false
                            WE_EVENT_ATTRIBUTES:
                              BOOLEAN: 25
                              STRING: 25
                              DATE: 25
                              NUMBER: 25
                            WE_AI_SUGGESTIONS: false
                            WE_DATA_OUTLET_INTERNAL_CONNECTION: false
                            WE_USER_ATTRIBUTES:
                              BOOLEAN: 25
                              STRING: 25
                              DATE: 25
                              NUMBER: 25
                            WE_IN_APP_NOTIFICATION: true
                            WE_FEEDBACK_TAB: true
                            WE_PUSH_IMPRESSION: false
                            WE_V4_JS_RULE_GENERATION: false
                            WE_CUSTOM_ENTITY: false
                            WE_FUNNEL_SIGNIFICANT_FACTOR: false
                            WE_JOURNEY_FLEET: false
                            WE_RFM: true
                            WE_CUSTOM_DASHBOARD: 10
                            WE_LIVE_SEGMENTS: 1000
                            WE_CAMPAIGN_AUDIT_TTL: false
                            WEB_PERSONALIZATION: false
                            WE_JOURNEY_CREATE: false
                            WE_STATS_CARDS_PAGES: false
                            WE_GOOGLE_ADS_EXPORT: true
                            WE_SMS_SUGGESTION: false
                            WE_PUSH_TIMER_TEMPLATE: false
                            APP_PERSONALIZATION: false
                            WE_EMAIL_FLEET: false
                            WE_SEGMENT_COPILOT: false
                            WE_UCG: false
                            WE_EVENT_PERSONALIZATION: 10
                            WE_DATA_OUTLET: false
                            WE_BIG_QUERY: false
                            WE_ADVANCE_ANALYTICS: false
                            WE_WHATSAPP_CAMPAIGN: true
                            WE_TIKTOK_EXPORT: false
                            WE_JOURNEY_VIEW_STATS: false
                            WE_COLLECTIONS: false
                            WE_JOURNEY_LIVE_EDIT: false
                            WE_DATA_OUTLET_ONE_TIME_EXPORT: false
                            WE_V2_EVENT_ANALYTICS: false
                            WE_BQ_SQL_OPTIMIZATION: false
                          retention-metadata:
                            WE_SEGMENT_LOOKBACK_PERIOD: 12
                            WE_DATA_RETENTION: 12
                            WE_RELAY_RUNS: "100"
                            WE_EVENT_ACTIVITIES_ALLOWED_DAYS_RANGE: false
                        - name: Travel
                          currencyCode: INR
                          currencyName: Indian Rupee
                          licenseCode: ~c2ab39d8
                          status: ACTIVE
                          creationDate: 2016-02-11T17:34:04.000Z
                          lastModifiedDate: 2021-10-20T05:29:04.000Z
                          planId: 1ladi4i
                          planDuration: annual
                          planName: Premium
                          timezoneOffset: 19800
                          categories:
                            - name: Travel/Hotel
                              description: Travel/Hotel
                              categoryId: h160dhg
                          statusText: This account is under Premium plan.
                          alias: travel-demo
                          isAffiliate: false
                          demo: true
                          startDate: 2016-02-10T18:30:00.000Z
                          underTrialPeriod: false
                          underCreditPeriod: false
                          encryptionMode: PLAIN_TEXT
                          isPublisherUser: false
                          language: en
                          sdkIntegrationStatus:
                            JS: false
                            ANDROID: false
                            IOS: false
                          sdkAccessStatus:
                            JS: true
                            ANDROID: true
                            IOS: true
                          hideSegmentBuilderCount: false
                          timeZone: Asia/Kolkata
                          conversionsType: SEND
                          domain: Travel
                          piidecryptionAllowed: false
                          trialDaysLeft: 0
                          widget-config:
                            web:
                              feedback: true
                              notification: true
                              webPersonalization: false
                              appPersonalization: false
                              webPush: true
                              inAppNotification: true
                              survey: true
                          feature-access:
                            WE_RCS_CAMPAIGN: false
                            WE_CAMPAIGN_BOOSTER: false
                            WE_SEND_TIME_OPTIMISATION: false
                            WE_JOURNEY: true
                            WE_FUNNEL_ANALYTICS_TO_STATIC_LIST: true
                            WE_LIVE_ANALYTICS: false
                            WE_PUSH_OVERLAY_TEMPLATE: false
                            WE_DATA_MAPPING: false
                            WE_WEBHOOKS: true
                            WE_ACTIVE_RELAYS: 5
                            WE_CAMPAIGN_AUDIT: false
                            WE_EMAIL_UNSUBSCRIBE_CUSTOMIZATION: false
                            CW_CONVERTWISE_PLUS_WEBENGAGE: false
                            WE_CCR_ENTITIES_MAX_FILE_SIZE_IN_MB: false
                            WE_MONTHLY_ENGAGED_USERS: true
                            WE_SEGMENT_LOOKBACK_PERIOD: 12
                            WE_MAGIC_BLOCK: false
                            WE_IMAGE_COPILOT: false
                            WE_SURVEY: true
                            WE_RELAY_ITEM_LEVEL_EXCLUSION: false
                            WE_JSON_DUMP: false
                            WE_NOTIFICATION_INBOX_MAX_TTL: false
                            WE_EMAIL_HEATMAP: false
                            WE_NOTIFICATION_LIMIT: false
                            WE_STATS_CARDS: false
                            WE_MAU: true
                            WE_ZERO_PII: false
                            WE_DERIVED_ATTRIBUTE: false
                            WE_NOTIFICATION_INBOX_PUSH: false
                            WE_AGGREGATED_CAMP_REPORT: false
                            WE_IN_APP_CUSTOM: false
                            WE_BEST_CHANNEL: false
                            WE_FB_EXPORT: true
                            WE_USER_EVENTS_BQ: false
                            WE_CSP2_CHANNELS_UI: false
                            WE_OBAC: false
                            WE_ASYNC_V4_GENERATION: true
                            WE_SEGMENTATION_2: false
                            WE_ENGAGEMENT_SCORE: false
                            WE_STATS_CARDS_CHANNELS: false
                            WE_CONTEXTUAL_JOURNEY: false
                            WE_RECOMMENDATION_FALLBACK: false
                            WE_MONTHLY_ENGAGED_CONTACT: true
                            WE_RECOMMENDATION: false
                            WE_CATALOG: false
                            WE_CSP2_UI: false
                            WE_EVENT: true
                            WE_EVENT_ACTIVITIES_ALLOWED_DAYS_RANGE: false
                            WE_SEGMENT_STATS_WHITELIST_LIMITS: 50
                            WE_USER_PROFILE_VIEW_V3_ENABLED: false
                            WE_OPENAI_RECOMMENDATION: false
                            WE_CAMPAIGN_KEY_DRIVER: false
                            WE_CSP2: false
                            WE_CUSTOM_ALERTS: false
                            CW_WISE_CART: false
                            WE_RBAC: true
                            WE_USERLIST_TRIGGERS: 20
                            WEB_EVENT_CONVERSION: true
                            WE_USERLIST: true
                            WE_JOURNEY_PUBLISH: false
                            WE_STATS_CARDS_METRIC: false
                            WE_IP_WHITELISTING: false
                            WE_DASHBOARD_SWITCH: false
                            WE_SSO: false
                            WE_TOTAL_CONTACTS: true
                            WE_EVENT_ANALYTICS_TO_STATIC_LIST: true
                            WE_REVENUE_ORDER_UPLIFT: false
                            WE_RELAY: false
                            WE_COHORT_ANALYTICS_TO_STATIC_LIST: true
                            WE_ASYNC_APIS: false
                            WE_PREDICTIVE_SEGMENTS: false
                            WE_RELAY_TRIGGERS: false
                            WE_SYSTEM_DASHBOARD_CREATION: false
                            WE_ACTIVE_JOURNEYS: 100
                            WE_SIGNIFICANT_FACTORS: true
                            WE_SMS_COUNTER: false
                            WE_CSV_DUMPS: false
                            WE_CONTENT_AGENT: false
                            WE_UI_REVAMP:
                              ONSITE: true
                              EVENTS: true
                              FUNNELS: true
                              SEGMENTATION: true
                              EVENTS_MIGRATION: true
                              THEME: NEW_THEME_LIGHT
                              RECOMMENDATIONS: true
                              FUNNELS_MIGRATION: true
                            WE_DATA_RETENTION: 12
                            WE_CSP2_PAGES_UI: false
                            CW_MAX_ORDERS: false
                            WE_VIBER_CAMPAIGN: false
                            WE_LIVE_SEGMENTS_TRIGGERS: 20
                            WE_JOURNEY_AB_SPLIT: true
                            WE_RELAY_RUNS: "100"
                            WE_PATH: true
                            WE_ACCOUNT_MANAGER: true
                            WE_USER_PLUS_EVENTS: false
                            WE_INTEGRATED_EMAIL: false
                            WE_EVENT_ATTRIBUTES:
                              BOOLEAN: 25
                              STRING: 25
                              DATE: 25
                              NUMBER: 25
                            WE_AI_SUGGESTIONS: false
                            WE_DATA_OUTLET_INTERNAL_CONNECTION: false
                            WE_USER_ATTRIBUTES:
                              BOOLEAN: 25
                              STRING: 25
                              DATE: 25
                              NUMBER: 25
                            WE_IN_APP_NOTIFICATION: true
                            WE_FEEDBACK_TAB: true
                            WE_PUSH_IMPRESSION: false
                            WE_V4_JS_RULE_GENERATION: false
                            WE_CUSTOM_ENTITY: false
                            WE_FUNNEL_SIGNIFICANT_FACTOR: false
                            WE_JOURNEY_FLEET: false
                            WE_RFM: true
                            WE_CUSTOM_DASHBOARD: 10
                            WE_LIVE_SEGMENTS: 1000
                            WE_CAMPAIGN_AUDIT_TTL: false
                            WEB_PERSONALIZATION: false
                            WE_JOURNEY_CREATE: false
                            WE_STATS_CARDS_PAGES: false
                            WE_GOOGLE_ADS_EXPORT: true
                            WE_SMS_SUGGESTION: false
                            WE_PUSH_TIMER_TEMPLATE: false
                            APP_PERSONALIZATION: false
                            WE_EMAIL_FLEET: false
                            WE_SEGMENT_COPILOT: false
                            WE_UCG: false
                            WE_EVENT_PERSONALIZATION: 10
                            WE_DATA_OUTLET: false
                            WE_BIG_QUERY: false
                            WE_ADVANCE_ANALYTICS: false
                            WE_WHATSAPP_CAMPAIGN: true
                            WE_TIKTOK_EXPORT: false
                            WE_JOURNEY_VIEW_STATS: false
                            WE_COLLECTIONS: false
                            WE_JOURNEY_LIVE_EDIT: false
                            WE_DATA_OUTLET_ONE_TIME_EXPORT: false
                            WE_V2_EVENT_ANALYTICS: false
                            WE_BQ_SQL_OPTIMIZATION: false
                          retention-metadata:
                            WE_SEGMENT_LOOKBACK_PERIOD: 12
                            WE_DATA_RETENTION: 12
                            WE_RELAY_RUNS: "100"
                            WE_EVENT_ACTIVITIES_ALLOWED_DAYS_RANGE: false
                      message: success
                      status: success
  /api/v1/accounts/undefined/{id}:
    get:
      tags:
        - api
      summary: GET /api/v1/accounts/undefined/{id}
      operationId: get_api_v1_accounts_undefined_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: default-dashboard
      responses:
        "200":
          description: Success
  /api/v1/accounts/~9919797a/{id}:
    get:
      tags:
        - api
      summary: GET /api/v1/accounts/~9919797a/{id}
      operationId: get_api_v1_accounts__9919797a_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: default-dashboard
        - name: noView
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: pageNo
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: pageSize
          in: query
          required: false
          schema:
            type: string
          example: "10"
        - name: isCountRequired
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: useCache
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: visibility
          in: query
          required: false
          schema:
            type: string
          example: visible
        - name: sdks
          in: query
          required: false
          schema:
            type: string
          example: "2"
        - name: ""
          in: query
          required: false
          schema:
            type: string
          example: ""
      responses:
        "200":
          description: Response captured from HAR
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                fromHar:
                  value:
                    response:
                      data:
                        ids: ""
                      message: success
                      status: success
  /api/v1/accounts/~9919797a:
    get:
      tags:
        - api
      summary: GET /api/v1/accounts/~9919797a
      operationId: get_api_v1_accounts__9919797a
      responses:
        "200":
          description: Response captured from HAR
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                fromHar:
                  value:
                    response:
                      data:
                        name: abc solutions
                        licenseCode: ~9919797a
                        status: ACTIVE
                        creationDate: 2026-01-14T06:30:00.000Z
                        lastModifiedDate: 2026-01-14T05:24:45.000Z
                        planId: 3rlammo
                        planDuration: annual
                        planName: Solo
                        timezoneOffset: -39600
                        categories:
                          - name: Listing/Classifieds/Marketplace
                            description: Listing/Classifieds/Marketplace
                            categoryId: 1306ae46
                        statusText: This account is under Solo plan.
                        alias: abc alias1
                        isAffiliate: false
                        demo: false
                        endDate: 2026-01-27T06:30:00.000Z
                        startDate: 2026-01-14T06:30:00.000Z
                        underTrialPeriod: true
                        underCreditPeriod: false
                        encryptionMode: PLAIN_TEXT
                        isPublisherUser: true
                        language: en
                        sdkIntegrationStatus: {}
                        sdkAccessStatus:
                          JS: true
                          ANDROID: true
                          IOS: true
                        hideSegmentBuilderCount: false
                        timeZone: Etc/GMT+11
                        conversionsType: SEND
                        domain: abc solutions
                        piidecryptionAllowed: false
                        trialDaysLeft: 14
                        widget-config:
                          web:
                            feedback: false
                            notification: true
                            webPersonalization: false
                            appPersonalization: false
                            webPush: false
                            inAppNotification: true
                            survey: true
                        feature-access:
                          WE_RCS_CAMPAIGN: false
                          WE_CAMPAIGN_BOOSTER: false
                          WE_SEND_TIME_OPTIMISATION: false
                          WE_JOURNEY: 5
                          WE_FUNNEL_ANALYTICS_TO_STATIC_LIST: true
                          WE_LIVE_ANALYTICS: false
                          WE_PUSH_OVERLAY_TEMPLATE: false
                          WE_DATA_MAPPING: false
                          WE_WEBHOOKS: false
                          WE_ACTIVE_RELAYS: 5
                          WE_CAMPAIGN_AUDIT: false
                          WE_EMAIL_UNSUBSCRIBE_CUSTOMIZATION: false
                          CW_CONVERTWISE_PLUS_WEBENGAGE: false
                          WE_CCR_ENTITIES_MAX_FILE_SIZE_IN_MB: false
                          WE_MONTHLY_ENGAGED_USERS: false
                          WE_SEGMENT_LOOKBACK_PERIOD: 12
                          WE_MAGIC_BLOCK: false
                          WE_IMAGE_COPILOT: false
                          WE_SURVEY: false
                          WE_RELAY_ITEM_LEVEL_EXCLUSION: false
                          WE_JSON_DUMP: false
                          WE_NOTIFICATION_INBOX_MAX_TTL: false
                          WE_EMAIL_HEATMAP: false
                          WE_NOTIFICATION_LIMIT: false
                          WE_STATS_CARDS: false
                          WE_MAU: 10000
                          WE_ZERO_PII: false
                          WE_DERIVED_ATTRIBUTE: false
                          WE_NOTIFICATION_INBOX_PUSH: false
                          WE_AGGREGATED_CAMP_REPORT: false
                          WE_IN_APP_CUSTOM: false
                          WE_BEST_CHANNEL: false
                          WE_FB_EXPORT: true
                          WE_USER_EVENTS_BQ: false
                          WE_CSP2_CHANNELS_UI: false
                          WE_OBAC: false
                          WE_ASYNC_V4_GENERATION: true
                          WE_SEGMENTATION_2: false
                          WE_ENGAGEMENT_SCORE: false
                          WE_STATS_CARDS_CHANNELS: false
                          WE_CONTEXTUAL_JOURNEY: false
                          WE_RECOMMENDATION_FALLBACK: false
                          WE_MONTHLY_ENGAGED_CONTACT: false
                          WE_RECOMMENDATION: false
                          WE_CATALOG: false
                          WE_CSP2_UI: false
                          WE_EVENT: 30 custom events per user user month
                          WE_EVENT_ACTIVITIES_ALLOWED_DAYS_RANGE: false
                          WE_SEGMENT_STATS_WHITELIST_LIMITS: 50
                          WE_USER_PROFILE_VIEW_V3_ENABLED: false
                          WE_OPENAI_RECOMMENDATION: false
                          WE_CAMPAIGN_KEY_DRIVER: false
                          WE_CSP2: false
                          WE_CUSTOM_ALERTS: false
                          CW_WISE_CART: false
                          WE_RBAC: true
                          WE_USERLIST_TRIGGERS: 20
                          WEB_EVENT_CONVERSION: true
                          WE_USERLIST: true
                          WE_JOURNEY_PUBLISH: false
                          WE_STATS_CARDS_METRIC: false
                          WE_IP_WHITELISTING: false
                          WE_DASHBOARD_SWITCH: false
                          WE_SSO: false
                          WE_TOTAL_CONTACTS: false
                          WE_EVENT_ANALYTICS_TO_STATIC_LIST: true
                          WE_REVENUE_ORDER_UPLIFT: false
                          WE_RELAY: false
                          WE_COHORT_ANALYTICS_TO_STATIC_LIST: true
                          WE_ASYNC_APIS: false
                          WE_PREDICTIVE_SEGMENTS: false
                          WE_RELAY_TRIGGERS:
                            CATALOG_REFRESH: true
                          WE_SYSTEM_DASHBOARD_CREATION: false
                          WE_ACTIVE_JOURNEYS: 100
                          WE_SIGNIFICANT_FACTORS: false
                          WE_SMS_COUNTER: false
                          WE_CSV_DUMPS: false
                          WE_CONTENT_AGENT: false
                          WE_UI_REVAMP:
                            ONSITE: true
                            EVENTS: true
                            FUNNELS: true
                            EVENTS_MIGRATION: true
                            FUNNELS_MIGRATION: true
                            THEME: NEW_THEME_LIGHT
                          WE_DATA_RETENTION: 12
                          WE_CSP2_PAGES_UI: false
                          CW_MAX_ORDERS: false
                          WE_VIBER_CAMPAIGN: false
                          WE_LIVE_SEGMENTS_TRIGGERS: 20
                          WE_JOURNEY_AB_SPLIT: true
                          WE_RELAY_RUNS: "100"
                          WE_PATH: true
                          WE_ACCOUNT_MANAGER: false
                          WE_USER_PLUS_EVENTS: false
                          WE_INTEGRATED_EMAIL: false
                          WE_EVENT_ATTRIBUTES:
                            BOOLEAN: 25
                            STRING: 25
                            DATE: 25
                            NUMBER: 25
                          WE_AI_SUGGESTIONS: false
                          WE_DATA_OUTLET_INTERNAL_CONNECTION: false
                          WE_USER_ATTRIBUTES:
                            BOOLEAN: 25
                            STRING: 25
                            DATE: 25
                            NUMBER: 25
                          WE_IN_APP_NOTIFICATION: true
                          WE_FEEDBACK_TAB: false
                          WE_PUSH_IMPRESSION: false
                          WE_V4_JS_RULE_GENERATION: false
                          WE_CUSTOM_ENTITY: false
                          WE_FUNNEL_SIGNIFICANT_FACTOR: false
                          WE_JOURNEY_FLEET: false
                          WE_RFM: true
                          WE_CUSTOM_DASHBOARD: 10
                          WE_LIVE_SEGMENTS: 1000
                          WE_CAMPAIGN_AUDIT_TTL: false
                          WEB_PERSONALIZATION: false
                          WE_JOURNEY_CREATE: false
                          WE_STATS_CARDS_PAGES: false
                          WE_GOOGLE_ADS_EXPORT: true
                          WE_SMS_SUGGESTION: false
                          WE_PUSH_TIMER_TEMPLATE: false
                          APP_PERSONALIZATION: false
                          WE_EMAIL_FLEET: false
                          WE_SEGMENT_COPILOT: false
                          WE_UCG: false
                          WE_EVENT_PERSONALIZATION: 10
                          WE_DATA_OUTLET: false
                          WE_BIG_QUERY: false
                          WE_ADVANCE_ANALYTICS: false
                          WE_WHATSAPP_CAMPAIGN: true
                          WE_TIKTOK_EXPORT: false
                          WE_JOURNEY_VIEW_STATS: false
                          WE_COLLECTIONS: false
                          WE_JOURNEY_LIVE_EDIT: false
                          WE_DATA_OUTLET_ONE_TIME_EXPORT: false
                          WE_V2_EVENT_ANALYTICS: false
                          WE_BQ_SQL_OPTIMIZATION: false
                        retention-metadata:
                          WE_SEGMENT_LOOKBACK_PERIOD: 12
                          WE_DATA_RETENTION: 12
                          WE_RELAY_RUNS: "100"
                          WE_EVENT_ACTIVITIES_ALLOWED_DAYS_RANGE: false
                      message: success
                      status: success
    post:
      tags:
        - api
      summary: POST /api/v1/accounts/~9919797a
      operationId: post_api_v1_accounts__9919797a
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiPostRequest"
            examples:
              fromHar:
                value:
                  name: abc solutions
                  alias: abc alias1
                  categories:
                    - name: Listing/Classifieds/Marketplace
                      description: Listing/Classifieds/Marketplace
                      categoryId: 1306ae46
                  timeZone: Etc/GMT+11
                  language: en
                  debugFlag: false
      responses:
        "200":
          description: Success
  /api/v1/accounts/~9919797a/{id}/{id2}:
    get:
      tags:
        - api
      summary: GET /api/v1/accounts/~9919797a/{id}/{id2}
      operationId: get_api_v1_accounts__9919797a_id_id2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: max-available-date
        - name: id2
          in: path
          required: true
          schema:
            type: string
          example: publisher-metrics
        - name: metrics
          in: query
          required: false
          schema:
            type: string
          example: MAU
      responses:
        "200":
          description: Success
  /api/v1/accounts/~9919797a/dashboard:
    get:
      tags:
        - api
      summary: GET /api/v1/accounts/~9919797a/dashboard
      operationId: get_api_v1_accounts__9919797a_dashboard
      parameters:
        - name: pageNo
          in: query
          required: false
          schema:
            type: string
          example: "1"
        - name: pageSize
          in: query
          required: false
          schema:
            type: string
          example: "10"
      responses:
        "200":
          description: Response captured from HAR
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                fromHar:
                  value:
                    response:
                      data:
                        pageNo: 1
                        contents: []
                        totalCount: 0
                        numberOfPages: 0
                        ascending: false
                        pageSize: 10
                      message: success
                      status: success
  /api/v1/accounts/~9919797a/dashboard/usage:
    get:
      tags:
        - api
      summary: GET /api/v1/accounts/~9919797a/dashboard/usage
      operationId: get_api_v1_accounts__9919797a_dashboard_usage
      responses:
        "200":
          description: Response captured from HAR
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                fromHar:
                  value:
                    response:
                      data:
                        cardsLimit: 20
                        dashboardLimit: 10
                        cardDetails: []
                      message: success
                      status: success
  /api/v3/accounts/~9919797a/{id}/count:
    post:
      tags:
        - api
      summary: POST /api/v3/accounts/~9919797a/{id}/count
      operationId: post_api_v3_accounts__9919797a_id_count
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: traffic-segments
        - name: userTypes
          in: query
          required: false
          schema:
            type: string
          example: all,known,unknown
        - name: sdks
          in: query
          required: false
          schema:
            type: string
          example: all
      responses:
        "200":
          description: Success
  /api/v1/accounts/~9919797a/reachability:
    post:
      tags:
        - api
      summary: POST /api/v1/accounts/~9919797a/reachability
      operationId: post_api_v1_accounts__9919797a_reachability
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiPostRequest"
            examples:
              fromHar:
                value:
                  users: {}
                  channels:
                    - PUSH_NOTIFICATION
                    - SMS
                    - EMAIL
                    - WEB_PUSH
                    - IN_APP
                    - ON_SITE
                    - WHATSAPP
      responses:
        "200":
          description: Success
  /api/v1/accounts/~9919797a/active-users/timeseries:
    get:
      tags:
        - api
      summary: GET /api/v1/accounts/~9919797a/active-users/timeseries
      operationId: get_api_v1_accounts__9919797a_active_users_timeseries
      parameters:
        - name: from
          in: query
          required: false
          schema:
            type: string
          example: 2026-01-12T00:00:00.000-12:00
        - name: to
          in: query
          required: false
          schema:
            type: string
          example: 2026-01-12T23:59:59.999-12:00
        - name: userType
          in: query
          required: false
          schema:
            type: string
          example: all
        - name: metric
          in: query
          required: false
          schema:
            type: string
          example: platform
      responses:
        "200":
          description: Success
  /api/v2/accounts/~9919797a/tags:
    get:
      tags:
        - api
      summary: GET /api/v2/accounts/~9919797a/tags
      operationId: get_api_v2_accounts__9919797a_tags
      responses:
        "200":
          description: Success
  /api/v1/accounts/~9919797a/admins:
    get:
      tags:
        - api
      summary: GET /api/v1/accounts/~9919797a/admins
      operationId: get_api_v1_accounts__9919797a_admins
      responses:
        "200":
          description: Success
  /api/v1/accounts/~9919797a/{id}/user-attributes:
    get:
      tags:
        - api
      summary: GET /api/v1/accounts/~9919797a/{id}/user-attributes
      operationId: get_api_v1_accounts__9919797a_id_user_attributes
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: traffic-segments
        - name: excludeTypes
          in: query
          required: false
          schema:
            type: string
          example: array,map
        - name: filterPrivateData
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: fetchAll
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: fetchForUserPlusEvents
          in: query
          required: false
          schema:
            type: string
          example: "true"
      responses:
        "200":
          description: Success
  /api/v1/accounts/~9919797a/users/a-stats:
    post:
      tags:
        - api
      summary: POST /api/v1/accounts/~9919797a/users/a-stats
      operationId: post_api_v1_accounts__9919797a_users_a_stats
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiPostRequest"
            examples:
              fromHar:
                value:
                  users:
                    userIds: {}
                  metrics:
                    - COUNT
                  dimensions:
                    - - name: country
                        attr-category: system
                        type: string
                  limit: 50
      responses:
        "200":
          description: Success
  /api/v3/accounts/~9919797a/users/searches:
    get:
      tags:
        - api
      summary: GET /api/v3/accounts/~9919797a/users/searches
      operationId: get_api_v3_accounts__9919797a_users_searches
      parameters:
        - name: attributes
          in: query
          required: false
          schema:
            type: string
          example: userId,username,email,phone,country,sessionCount,createdOn,lastActivityOn
        - name: pageSize
          in: query
          required: false
          schema:
            type: string
          example: "100"
      responses:
        "200":
          description: Success
  /api/accounts/~9919797a/control-group:
    get:
      tags:
        - api
      summary: GET /api/accounts/~9919797a/control-group
      operationId: get_api_accounts__9919797a_control_group
      responses:
        "200":
          description: Success
  /api/v1/accounts/~9919797a/{id}/all:
    get:
      tags:
        - api
      summary: GET /api/v1/accounts/~9919797a/{id}/all
      operationId: get_api_v1_accounts__9919797a_id_all
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: traffic-segments
        - name: intelligentAttribute
          in: query
          required: false
          schema:
            type: string
          example: "true"
        - name: includeUserRollingFlag
          in: query
          required: false
          schema:
            type: string
          example: "true"
      responses:
        "200":
          description: Success
  /api/v2/accounts/~9919797a/userlist:
    get:
      tags:
        - api
      summary: GET /api/v2/accounts/~9919797a/userlist
      operationId: get_api_v2_accounts__9919797a_userlist
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
          example: ACTIVE
        - name: pageSize
          in: query
          required: false
          schema:
            type: string
          example: "2000"
      responses:
        "200":
          description: Success
  /api/v1/accounts/~9919797a/{id}/events:
    get:
      tags:
        - api
      summary: GET /api/v1/accounts/~9919797a/{id}/events
      operationId: get_api_v1_accounts__9919797a_id_events
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: traffic-segments
        - name: type
          in: query
          required: false
          schema:
            type: string
          example: analytics
        - name: analyticsChannel
          in: query
          required: false
          schema:
            type: string
          example: EVENTS
        - name: origin
          in: query
          required: false
          schema:
            type: string
          example: ANALYTICS
      responses:
        "200":
          description: Success
  /api/v1/accounts/~9919797a/{id}/limits:
    get:
      tags:
        - api
      summary: GET /api/v1/accounts/~9919797a/{id}/limits
      operationId: get_api_v1_accounts__9919797a_id_limits
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: traffic-segments
      responses:
        "200":
          description: Success
  /api/v1/accounts/~9919797a/{id}/usage-status:
    get:
      tags:
        - api
      summary: GET /api/v1/accounts/~9919797a/{id}/usage-status
      operationId: get_api_v1_accounts__9919797a_id_usage_status
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: traffic-segments
      responses:
        "200":
          description: Success
  /api/v1/accounts/~9919797a/js-config:
    get:
      tags:
        - api
      summary: GET /api/v1/accounts/~9919797a/js-config
      operationId: get_api_v1_accounts__9919797a_js_config
      responses:
        "200":
          description: Response captured from HAR
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                fromHar:
                  value:
                    response:
                      message: success
                      status: success
    post:
      tags:
        - api
      summary: POST /api/v1/accounts/~9919797a/js-config
      operationId: post_api_v1_accounts__9919797a_js_config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiPostRequest"
            examples:
              fromHar:
                value:
                  siteConfigList:
                    - matchType: DOMAIN
                      site: www.google.com
      responses:
        "200":
          description: Response captured from HAR
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
              examples:
                fromHar:
                  value:
                    response:
                      data:
                        licenseCode: ~9919797a
                        sdkVersion: 5
                        siteConfigList:
                          - site: www.google.com
                            matchType: DOMAIN
                        enableAMP: false
                        id: ~2j1ck3l
                        sit: 1800000
                      message: success
                      status: success
  /api/v1/accounts/~9919797a/android-config:
    get:
      tags:
        - api
      summary: GET /api/v1/accounts/~9919797a/android-config
      operationId: get_api_v1_accounts__9919797a_android_config
      responses:
        "200":
          description: Success
  /api/v1/accounts/~9919797a/ios-config:
    get:
      tags:
        - api
      summary: GET /api/v1/accounts/~9919797a/ios-config
      operationId: get_api_v1_accounts__9919797a_ios_config
      responses:
        "200":
          description: Success
  /api/v1/accounts/~9919797a/users/searches:
    post:
      tags:
        - api
      summary: POST /api/v1/accounts/~9919797a/users/searches
      operationId: post_api_v1_accounts__9919797a_users_searches
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiPostRequest"
            examples:
              fromHar:
                value:
                  pageNo: 1
                  filter:
                    userAttribute:
                      expressions:
                        - name: cuid
                          type: string
                          category: system
                          operator: EXISTS
[...]
